{% extends "layouts/base.html" %}

{% load widget_tweaks %}

{% block title %} Settings {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %} 

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Settings</h4>
      </div>

      <div class="mx-4 mt-4">
        <form method="post" novalidate>
          {% csrf_token %} 
          
          {% include 'includes/bs-form.html' with form=form %}

          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
