<!-- myproject/webapp/templates/webapp/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WebApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">    
</head>
<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1 text-center">
                <button class="my-button" id="thumbsdown-btn"><i id="thumbsdown" class="fas fa-thumbs-down fa-2x"></i></button>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a id="card-title" href="{{ data.link }}" target="_blank">{{ data.title }}</a>
                        </h5>
                        <p id="card-content" class="card-text">{{ data.content }}</p>
                        <p><b>Feed:</b> <span id="card-feed-value">{{ data.feed.feed_name }}</span></p>
                        <p><b>Pay Range:</b> <span id="card-pay_range-value">{{ data.pay_range }}</span></p>
                        <p><b>Job Type:</b> <span id="card-job_type-value">{{ data.job_type }}</span></p>
                        <p><b>Category:</b> <span id="card-category-value">{{ data.category }}</span></p>
                        <p><b>Skills:</b> <span id="card-skills-value" data-skills="{{ data.skills }}">{{ data.skills }}</span></p>
                        <p><b>Country:</b> <span id="card-country-value">{{ data.country }}</span></p>
                    </div>
                                
                </div>
            </div>
            <div class="col-md-1 text-center">
                <button class="my-button" id="thumbsup-btn"><i id="thumbsup" class="fas fa-thumbs-up fa-2x"></i></button>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-1 text-center">
                <button class="my-button" id="recycle-btn" style="width: 100px;"><i id="recycle" class="fas fa-arrow-right fa-2x"></i></button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var feed_entry_id = "{{ data.id }}";  // get the id from the Django context
        var thumbs_updown_url = "{% url 'thumbs_updown' %}";
    </script>
    <script src="{% static 'webapp/js/skills.js' %}"></script>
    <script src="{% static 'webapp/js/main.js' %}"></script>
</body>
</html>
