{% extends "layouts/base.html" %}

{% block title %} Workers {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card card-chart px-4">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h2 class="card-title">Workers</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left mt-4">
            <button 
              id="add_worker_btn_id" 
              class='btn btn-md'
              onclick="window.location='{% url "worker_create" %}';"
            >New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <table id="worker-list-table" class="table table-striped">
          <thead>
            <tr>
              <th>Worker ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>IP Address</th>
              <th>Alive</th>
              <th>Running</th>
              <th>Commands(remained)</th>
              <th class="sorting_desc_disabled sorting_asc_disabled text-right">Actions</th>
            </tr>
          </thead>
          
          <tbody id="worker-list-content">
          
            {% comment %} {% for worker in workers %}

            <tr>
              <td>{{ worker.wid }}</td>
              <td>{{ worker.name }}</td>
              <td>{{ worker.description }}</td>
              <td>{{ worker.alive }}</td>
              <td>{{ worker.running }}</td>
              <td>{{ worker.commands }}</td>
              <td class="text-right">
                <a href="{% url "worker_edit" worker.id %}" class="btn btn-link btn-warning btn-icon btn-sm edit"><i class="tim-icons icon-pencil"></i></a>
                <a href="{% url "worker_delete" worker.id %}" class="btn btn-link btn-danger btn-icon btn-sm ml-2 remove"><i class="tim-icons icon-simple-remove"></i></a>
              </td>
            </tr>

            {% endfor %} {% endcomment %}

          </tbody>

          <tfoot>
            <tr>
              <th>Worker ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>IP Address</th>
              <th>Alive</th>
              <th>Running</th>
              <th>Commands(remained)</th>
              <th class="disabled-sorting text-right">Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

  function worker_refresh() {
    $.ajax({
      url: "{% url 'worker_list' %}",
      type: "GET",
      data: {
        cmd: 'refresh'
      },
      cache: false,
      success: function(workers) {
        console.log("workers :", workers);
        var elements = makeWorkerElements(workers);
        $('#worker-list-content').html(elements);

        //var worker_table = $('#worker-list-table').DataTable({
        //  destroy: true,
        //  order: [[0, "asc"]]
        //});
      }
    });
  };

  function makeWorkerElements(workers) {
    var elements = "";
    for (let worker of workers) {
      var alive = worker.alive ? "alive" : "dead";
      var running = worker.running ? "running" : "idle";
      var element = `
        <tr>
          <td>${worker.wid}</td>
          <td>${worker.name}</td>
          <td>${worker.description}</td>
          <td>${worker.ipaddress}</td>
          <td>${alive}</td>
          <td>${running}</td>
          <td>${worker.commands}</td>
          <td class="text-right">
            <a href="/admin/workers/edit/${worker.worker_id}" class="btn btn-link btn-warning btn-icon btn-sm edit"><i class="tim-icons icon-pencil"></i></a>
            <a href="/admin/workers/delete/${worker.worker_id}" class="btn btn-link btn-danger btn-icon btn-sm ml-2 remove"><i class="tim-icons icon-simple-remove"></i></a>
          </td>
        </tr>
      `;
      elements += element;
    }
    return elements;
  }

  $(document).ready(function () {
    var table = $('#worker-list-table').DataTable();
    worker_refresh();
    var interval = setInterval("worker_refresh()", 10000);
  });

</script>

{% endblock javascripts %}