.my-button {
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#thumbsdown {
    color: red;
}
#thumbsup {
    color: green;
}
#recycle {
    color: white;
}

.bold-label {
    font-weight: bold;
}
